{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_tasks %}
                <table>
                    <thead>
                        <tr>Name</tr>
                        <tr>Start date</tr>
                        <tr>Due date</tr>
                        <tr>Is completed</tr>
                    </thead>
                    <tbody>
                        {% for task in show_tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </main>
{% endblock content %}
