{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ projects.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_detail %}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ project_detail.name }}</td>
                            <td>{{ project_detail.assignee }}</td>
                            <td>{{ project_detail.start_date }}</td>
                            <td>{{ project_detail.due_date }}</td>
                            <td>{{ project_detail.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </main>
{% endblock content %}
